.luckysheet{
  border: none!important;
}
#luckysheet-sheet-area-container{
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.luckysheet-sheet-area{
  padding: 0!important;
  position: relative!important;
  right: unset!important;
  bottom: unset!important;
  left: unset!important;
  height: 100%!important;
}
.luckysheet-sheet-area div.luckysheet-sheets-item-active{
  height: 100%!important;
}
#luckysheet-sheet-content, .luckysheet-sheet-container,
.luckysheet-sheet-area div.luckysheet-sheet-container div.luckysheet-sheet-container-c,
.luckysheet-sheet-area div.luckysheet-sheets-item{
  height: 100%!important;
  border-bottom: none!important;
}
.luckysheet-sheet-area div.luckysheet-sheets-item .luckysheet-sheets-item-name{
  /*vertical-align: text-top;*/
  line-height: 40px;
}
.luckysheet-sheet-area div.luckysheet-sheets-item .luckysheet-sheets-item-menu{
  top:0px!important;
  line-height: 40px;
}
